/* ---------------------------------------------------------
  Tools Stylesheet
   ---------------------------------------------------------*/

@media screen {

  .my-tools {
    list-style: none;
    text-align: center;
    margin: 2rem auto;
  }

  .my-tools li{
    border: none;
    display: inline-block;
  }

  .my-tools li img {
    height: 5rem;
    margin-right: 4rem;
  }

  /*.js--wp-tools {
    opacity: 0;
  }

  .js--wp-tools.animated {
    opacity: 1;
  }*/


}  /* End @media screen */

/* Breakpoint for big tablets to desktop: from 1024 to 1200px */
@media only screen and (max-width: 1200px) {
} /* End @media only screen and (max-width: 1200px) */

/* Breakpoint for small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
} /* End @media only screen and (max-width: 1023px) */

/* Breakpoint for small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

  h2 {
    font-size: 3rem;
  }

  .my-tools li img {
    height: 4rem;
    margin: 2rem 4rem;
  }
} /* End @media only screen and (max-width: 767px) */

/* Breakpoint for small phones: from 321 to 480px */
@media only screen and (max-width: 480px) {
  .my-tools li img {
    height: 4rem;
    margin: 2rem 4rem;
  }
} /* End @media only screen and (max-width: 480px) */

/* Breakpoint for small phones: from 0 to 320px */
@media only screen and (max-width: 320px) {
  .my-tools li img {
    height: 3rem;
    margin: 1.5rem 3rem;
  }
} /* End @media only screen and (max-width: 320px) */
